@using SimpleCrm.Web.Controllers
@model HomePageViewModel
@{
    ViewBag.Title = "Customers";
}
<h1>Customers</h1>
<table>
    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td>
                <!-- change in this cell -->
                <a href="/home/details/@customer.Id">Details</a>
                @Html.ActionLink("View", nameof(HomeController.Details), new { id = customer.Id })
            </td>
            <td>@customer.FirstName</td>
            <td>@customer.LastName</td>
            <td>@customer.PhoneNumber</td>
        </tr>
    }
</table>

@section footer {
    <h3>@Model.CurrentMessage</h3>
}
